*/.venv
/ECI/mnist_data_with_background
*.html
*.png
*.csv
*.dat
.idea
__pycache__

# Archivos y carpetas generados por PyCharm
.idea/

# Archivos compilados de Python
__pycache__/
*.pyc

# Otros archivos innecesarios
*.log
*.tmp
.DS_Store
